<h1><%=@track.title%></h1>

<p>
<%=@track.lyrics%>
</p>

<h2>New Note</h2>
<%= render "notes/form", track_id: @track.id %>

<h2>Notes</h2>
<% @track.notes.each do |note|%>
  <%= render "notes/note", note: note%>
<% end%>


<%= content_for :footer do %>
  <a href="<%= edit_track_url(@track) %>">Edit Track</a>
  <form action="<%= track_url(@track) %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= auth_token %>
    <input type="submit" value="Destroy Track">
  </form>
  <a href="<%= album_url(@track.album) %>"><%= @track.album.title %></a>
<% end %>